* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

li {
    text-decoration: none;
}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

#content {
    float: right;
    background-color: rgba(23, 15, 35, 255);
    width: 1050px;
}

.block {
    width: 90%;
    margin: 0px auto;
    padding: 10px 0px;
}

.heading {
    padding: 5px 0px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

#content .heading .block {
    display: flex;
    justify-content: space-between;
}

#content .heading ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#content .heading ul li {
    display: inline-block;
    color: red;
    margin: 0px 7px;
}

#content .heading a {
    display: inline-block;
}

#content .heading input {
    width: 400px;
    height: 30px;
    background-color: rgb(112, 96, 96);
    border: 0px;
    border-radius: 20px;
}


/* block-content */


/* top-ads */

#top-ads {
    display: flex;
    justify-content: space-between;
}

#top-ads li {
    width: 280px;
    height: 150px;
    display: inline-block;
}

#top-ads img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


/* main-content */

.main-content {
    margin: 10px 0px;
}

.main-content h3 {
    padding: 20px 10px 10px 10px;
}

.main-content h3 a {
    text-transform: uppercase;
    text-decoration: none;
}

.main-content .feature {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-content .feature-item {
    margin: 10px 0px;
    width: 22%;
}

.main-content .feature-item>a {
    display: inline-block;
    height: 200px;
    width: 100%;
}

.main-content .feature-item p a {
    display: inline-block;
    padding: 10px 10px;
}

.main-content .feature-item img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#side-bar {
    float: left;
    background-color: rgba(35, 27, 46, 255);
    height: 1200px;
    width: calc(100% - 1050px);
}

#side-bar h1 a {
    display: block;
    margin: 0px auto;
    width: 70%;
    height: 50px;
}

#side-bar h1 a img {
    width: 100%;
    height: 100%;
}